set morespace
set nohelp
set mouse
set tabsize 4

## TeX
include "/usr/share/nano/tex.nanorc"

## Nano config
include "~/.nano/nanorc.nanorc"

## C/C++
include "~/.nano/c.nanorc"

## Python
include "~/.nano/python.nanorc"

## CSS
include "~/.nano/css.nanorc"

## HTML
include "~/.nano/html.nanorc"

## Markdown
include "~/.nano/markdown.nanorc"

## Haskell
include "~/.nano/haskell.nanorc"
